body {
  background-color: #1f2128 !important;
  color: white !important;
  background-image: url("../src/assets/images/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% auto;
}

/* Header & Footer CSS */
.header img {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.header .page-title {
  font-size: 30px;
  font-weight: 600;
}

.footer {
  background-color: #30333d;
  color: #6a6c73;
  font-weight: bold;
}

/* Search Bar CSS */
.search-bar input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #1f2128;
  border-color: #1f2128;
  color: white;
}

.search-bar input:focus {
  background-color: #1f2128;
  color: white;
}

.search-bar button {
  width: 130px;
  background-color: #6c5dd3;
  border: none;
  color: white;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.search-bar button:hover,
.search-bar button:active {
  background-color: #5240d3 !important;
}

/* ----------------------------------------- */

.weather-card .dark .custom-border,
.weather-cardview .dark .custom-border {
  border-color: #515566 !important;
  border: 2px solid;
  border-top: 0;
  border-bottom: 0;
}

.weather-card .card-view {
  background-image: url("../src/assets/images/card-background.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  font-weight: 500;
}

.weather-card .dark,
.weather-cardview .dark {
  background-color: #383b47;
  font-weight: 500;
  border-radius: 0 0 6px 6px;
}

.weather-card .card-color,
.weather-cardview .card-color {
  border-radius: 7px;
}

.weather-cardview .description {
  border-color: white;
  border-right: 1px solid;
}

.weather-cardview .card-view {
  background-repeat: no-repeat;
  background-size: 100% auto;
  font-weight: 500;
}

.weather-cardview .card-view i {
  margin-left: 25px;
  cursor: pointer;
}

.weather-card .hover-card:hover {
  cursor: pointer;
  opacity: 0.8;
}

.weather-cardview h1 {
  font-size: 65px;
}

@media (min-width: 992px) {
  .render-card {
    display: flex;
    flex-wrap: wrap;
  }
}

/* ----------------------------------------- */

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.pink {
  background-color: pink;
}
